<% content_for :title do %>About<% end %>
<h3>About Foobar Kerrigan</h3>
<p>The little known younger sibling of Sarah "Queen of Blades" Kerrigan, Foobar does not share his sister's psionic abilities or Ghost training. He is, however, a fairly adept hacker, and uses his skills to ensure that everyone is aware of his birthday.</p>
<p>His favorite quotation is:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>